<article class="detail-article">
  
   <h1>Your Email: <%= current_user.email %> </h1>
    
    
 <h2>Your Friends</h2>
   <% if @friendships.any?%>
        <% @friendships.each do |friendship| %>
              <div class="article-body">
                      <p><%= friendship.friend.email %></p>
              </div>
              <div class="article-body">
                       <%= link_to "Unfollow", friendship_path( current_user.current_friendship(friendship.friend)), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-success link", id: friendship.friend.email  %>
                 </div>
        <% end %>
        
   <% else%>
        
        <div class="article-body">
                <p>You have no friends just yet.</p>
        </div>
        
   <% end %>

    
</article>